<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="riskified_decider_payment_data_compose_after">
        <observer name="riskified_decider_payment_data_compose_after"
                  instance="Riskified\ObserverTest\Model\Observer\Order\TestPaymentGateway" />
    </event>
</config>
